html {
	font-family: "comic sans";
}

#intro {
	text-size: 24px;
	border: 2px solid black;
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 1.5px solid black;
	font-size: 16px:
}

td, th {
	border: 1px solid black;
	padding: 10px 20px:
}

td {
	text-align: center;
}

h2 {
	text-align: center;
	text-size: 20px;

}


h1 {
	text-align: center;
}


p {
	text-align: center;
}

